{% extends 'base.html' %}


{% block content %}
 
 <!--Video-->
        <div class="intro-video view" id="home">
            <video poster="https://mdbootstrap.com/img/Photos/Horizontal/Things/full%20page/img%20%287%29.jpg" playsinline autoplay muted loop>
                <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4">
            </video>
            <div class="hm-gradient">
                <div class="full-bg-img flex-center">
                    <div class="container smooth-scroll">
                        <div class="row">
                            <div class="col-md-12 white-text text-center smooth-scroll">
                                <div class="wow fadeInDown" data-wow-delay="0.2s">
                                    <h3 class="brand-name font-bold white-text mb-2">Creative Agency</h3>
                                    <hr class="hr-light">
                                    <h4 class="subtext-header mt-2 mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti consequuntur, nihil voluptatem.</h4>
                                </div>
                                <a href="#about" data-offset="90" class="btn btn-rounded btn-light-green-2 wow fadeInUp" data-wow-delay="0.2s"><i class="fa fa-home"></i> Visit us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Video-->
    <!--/Navigation & Intro-->

{% endblock content %}