{% extends 'base.html' %}

{% block content %}
<header>
        <!-- <div class="view intro" id="home">
            <div class="hm-black-strong-1">
                <div class="full-bg-img flex-center">
                    <div class="container">
                        <div class="row smooth-scroll">
                            <div class="col-md-12 white-text text-center">
                                <div class="wow fadeInDown" data-wow-delay="0.2s">
                                    <h2 class="brand-name font-bold mb-2">Software</h2>
                                    <hr class="hr-light">
                                    <h3 class="subtext-header mt-2 mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti consequuntur, nihil voluptatem modi nobis veniam.</h3>
                                </div>
                                <a href="#demo" data-offset="100" class="btn btn-rounded btn-indigo-2 wow fadeInLeft" data-wow-delay="0.2s">Demo</a>
                                <a href="#features" data-offset="100" class="btn btn-rounded btn-info wow fadeInRight" data-wow-delay="0.2s">Features</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="intro-video view" id="home">
            <video poster="https://mdbootstrap.com/img/Photos/Horizontal/Things/full%20page/img%20%287%29.jpg" playsinline autoplay muted loop>
                <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4">
            </video>
            <div class="hm-gradient">
                <div class="full-bg-img flex-center">
                    <div class="container smooth-scroll">
                        <div class="row">
                            <div class="col-md-12 white-text text-center smooth-scroll">
                                <div class="wow fadeInDown" data-wow-delay="0.2s">
                                    <h3 class="brand-name font-bold white-text mb-2">{{ page_obj.title }}</h3>
                                    <hr class="hr-light">
                                    <h4 class="subtext-header mt-2 mb-2">{{ page_obj.title_description | linebreaks }}</h4>
                                </div>
                                {% if title_btn_url %}
                                <a href="{{ title_btn_url }}" data-offset="90" class="btn btn-rounded btn-light-green-2 wow fadeInUp" data-wow-delay="0.2s"><i class="fa fa-home"></i>{{title_btn}}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>
        <div class="container">
            
            <!--Section: Features v.1-->
            <section id="features" class="section feature-box mt-4 mb-4">

                <!--Section heading-->
                <!-- <h1 class="mb-3 font-big font-bold wow fadeIn" data-wow-delay="0.2s">Features</h1> -->
               
                <!--Section description-->
               <!--  <p class="section-description wow fadeIn" data-wow-delay="0.2s">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quas, eos officia maiores ipsam ipsum dolores reiciendis ad voluptas, animi obcaecati adipisci sapiente mollitia.</p>   
                --> 
                <!--First row-->
                <div class="row">
                <div class="col-md-8 offset-md-2">
                <div class="row features">
                    <div class="col-md-4">
                        <div class="icon-area">
                            <!-- <div class="circle-icon"> -->
                                <i class="fa fa-book"></i>
                            <!-- </div> -->

                            <br>
                            <strong>Join us</strong>

                    </div>
                    </div>
                    <div class="col-md-8">
                            <!-- <div class="mt-1"> -->
                               <p>
                                {% include 'pages/snippet/join_form.html' with form=form %}
                               </p>
                            <!-- </div> -->
                    </div>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="container">
                    {{ page_obj.content|safe }}
                </div>
            </section>
        </div>

{% endblock content %}