{% load static %}
<!DOCTYPE html>
<html lang="en" class="full-height">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Ibro Kola</title>

    <!-- Meta OG -->
    <meta property="og:title" content="Creative and secure software applications">
    <meta property="og:description" content="providing up to date content on clean tech developement | fin tech | artificial intelligence | data analytics | machine learning.">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="ibrokolawole.com">
    <!-- /Meta OG -->

    <!-- Twitter Card -->
    <meta name="twitter:card" content="Creative and secure software applications">
    <meta name="twitter:description" content="providing up to date content on clean tech developement | fin tech | artificial intelligence | data analytics | machine learning.">
    <meta name="twitter:title" content="Creative and secure software applications">
    <meta name="twitter:site" content="@ibroCEO">
    <meta name="twitter:image" content="">
    <meta name="twitter:creator" content="@ibroCEO">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

	<link href="{% static 'css/mdb.css' %}" rel="stylesheet">
</head>

<body class="grey-skin intro-page creative-lp">      
        <!--Navbar-->
        <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar">
           
            <div class="container">
               
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <a class="navbar-brand" href="#">
                    <strong>Navbar</strong>
                </a>
                
                <div class="collapse navbar-collapse" id="navbarNav">
                   
                    <!--Links-->
                    <ul class="navbar-nav mr-auto smooth-scroll">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about" data-offset="90">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#features" data-offset="90">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services" data-offset="90">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#opinions" data-offset="30">Opinions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#team" data-offset="90">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact" data-offset="90">Contact</a>
                        </li>
                    </ul>
                    
                    <!--Social Icons-->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
        <!--/Navbar-->
{% block content %}{% endblock content %}
<footer class="page-footer center-on-small-only">
</footer>

	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	<script src="{% static 'js/mdb.min.js' %}"></script>
	<script src="{% static 'js/mdb1.min.js' %}"></script>
	<script src="{% static 'js/wow.js' %}"></script>
	<script src="{% static 'js/forms.js' %}"></script>
	<script src="{% static 'js/animations.js' %}"></script>
	
<script>
	 //Animation init
        new WOW().init();
        
        // Modal
        $('#myModal').on('shown.bs.modal', function () {
          $('#myInput').focus()
        })
        
        // Material Select Initialization
        $(document).ready(function() {
            $('.mdb-select').material_select();
        });
</script>

</body>
</html>